@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 400;
  src: local("Fira Sans"), local("FiraSans-Regular"), url(http://fonts.gstatic.com/s/firasans/v5/EjsrzDkQUQCDwsBtLpcVQZBw1xU1rKptJj_0jans920.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }

@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 700;
  src: local("Fira Sans Bold"), local("FiraSans-Bold"), url(http://fonts.gstatic.com/s/firasans/v5/DugPdSljmOTocZOR2CItOhampu5_7CjHW5spxoeN3Vs.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }

@font-face {
  font-family: 'Fira Mono';
  font-style: normal;
  font-weight: 400;
  src: local("Fira Mono"), local("FiraMono"), url(http://fonts.gstatic.com/s/firamono/v3/SlRWfq1zeqXiYWAN-lnG-pBw1xU1rKptJj_0jans920.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }

/*! normalize.css v3.0.2 | MIT License | git.io/normalize */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden],
template {
  display: none; }

a {
  background-color: transparent; }

a:active,
a:hover,
a:focus {
  outline: 0;
  text-decoration: none; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 1em 40px; }

hr {
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

pre {
  overflow: auto; }

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
html input[disabled] {
  cursor: default; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto; }

optgroup {
  font-weight: bold; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

body {
  background-color: white;
  font-size: 14px;
  line-height: 1.6;
  font-family: 'Fira Sans', sans-serif;
  color: #666;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%; }

::-moz-selection {
  background: #F07677; }

::selection {
  background: #F07677; }

::-moz-selection {
  background: #F07677; }

img::-moz-selection {
  background: transparent; }

img::selection {
  background: transparent; }

img::-moz-selection {
  background: transparent; }

body {
  -webkit-tap-highlight-color: #F07677; }

a {
  color: #0074D9;
  text-decoration: none;
  outline: 0; }
  a:hover, a:focus {
    color: #40a6ff; }

.gigantic, .huge, .large, .bigger, .big,
h1, h2, h3, h4, h5, h6 {
  color: #fff; }

.gigantic {
  font-size: 110px;
  line-height: 1.09;
  letter-spacing: -2px; }

.huge, h1 {
  font-size: 68px;
  line-height: 1.05;
  letter-spacing: -1px; }

.large, h2 {
  font-size: 42px;
  line-height: 1.14; }

.bigger, h3 {
  font-size: 26px;
  line-height: 1.38; }

.big, h4 {
  font-size: 22px;
  line-height: 1.38; }

.small, small {
  font-size: 10px;
  line-height: 1.2; }

p {
  margin: 0 0 20px 0; }

em {
  font-style: italic; }

strong {
  font-weight: bold; }

hr {
  border: solid #ddd;
  border-width: 1px 0 0;
  clear: both;
  margin: 10px 0 30px;
  height: 0; }

.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  display: inline-block;
  height: 38px;
  padding: 0 30px;
  color: #555;
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #bbb;
  cursor: pointer;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
  .button:hover, .button:active, .button:focus,
  button:hover,
  button:active,
  button:focus,
  input[type="submit"]:hover,
  input[type="submit"]:active,
  input[type="submit"]:focus,
  input[type="reset"]:hover,
  input[type="reset"]:active,
  input[type="reset"]:focus,
  input[type="button"]:hover,
  input[type="button"]:active,
  input[type="button"]:focus {
    color: #333;
    border-color: #888;
    outline: 0; }

.name-lockup {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }

.avatar {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-right: 10px;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0; }

.fork-tag {
  position: absolute;
  top: 10px;
  right: -10px;
  background: #0074D9;
  color: white;
  padding: 2px 6px;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-transform-origin: top right;
  -ms-transform-origin: top right;
  transform-origin: top right; }
  .fork-tag:hover {
    color: white;
    -webkit-animation: wiggle 0.4s linear 1;
    animation: wiggle 0.4s linear 1; }

@-webkit-keyframes wiggle {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  20% {
    -webkit-transform: rotate(8deg);
    transform: rotate(8deg); }
  50% {
    -webkit-transform: rotate(-8deg);
    transform: rotate(-8deg); }
  80% {
    -webkit-transform: rotate(8deg);
    transform: rotate(8deg); }
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); } }

@keyframes wiggle {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  20% {
    -webkit-transform: rotate(8deg);
    transform: rotate(8deg); }
  50% {
    -webkit-transform: rotate(-8deg);
    transform: rotate(-8deg); }
  80% {
    -webkit-transform: rotate(8deg);
    transform: rotate(8deg); }
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); } }

.flex-video {
  height: 0;
  margin-bottom: 0.88889rem;
  overflow: hidden;
  padding-bottom: 56%;
  position: relative; }

.flex-video iframe,
.flex-video object,
.flex-video embed,
.flex-video video {
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
  left: 0; }

body {
  background-color: #fff;
  overflow-x: hidden; }

.no-padding {
  padding: 0; }

.desktop-hidden {
  display: none; }
  @media screen and (max-width: 920px) {
    .desktop-hidden {
      display: block; } }

.mobile-hidden {
  display: block; }
  @media screen and (max-width: 920px) {
    .mobile-hidden {
      display: none !important; } }

#preloader {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  overflow: visible;
  background: #fff; }
  #preloader .heart {
    -webkit-animation: heartbeat 1s infinite;
    animation: heartbeat 1s infinite;
    position: relative;
    width: 100px;
    height: 90px;
    top: calc(50% - 45px);
    left: calc(50% - 50px); }
    #preloader .heart:before, #preloader .heart:after {
      position: absolute;
      content: "";
      left: 50px;
      top: 0;
      width: 50px;
      height: 80px;
      background: #F07677;
      border-radius: 50px 50px 0 0;
      -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      transform: rotate(-45deg);
      -webkit-transform-origin: 0 100%;
      -ms-transform-origin: 0 100%;
      transform-origin: 0 100%; }
    #preloader .heart:after {
      left: 0;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
      -webkit-transform-origin: 100% 100%;
      -ms-transform-origin: 100% 100%;
      transform-origin: 100% 100%; }

@-webkit-keyframes heartbeat {
  0% {
    -webkit-transform: scale(0.75);
    transform: scale(0.75); }
  20% {
    -webkit-transform: scale(1);
    transform: scale(1); }
  40% {
    -webkit-transform: scale(0.75);
    transform: scale(0.75); }
  60% {
    -webkit-transform: scale(1);
    transform: scale(1); }
  80% {
    -webkit-transform: scale(0.75);
    transform: scale(0.75); }
  100% {
    -webkit-transform: scale(0.75);
    transform: scale(0.75); } }

@keyframes heartbeat {
  0% {
    -webkit-transform: scale(0.75);
    transform: scale(0.75); }
  20% {
    -webkit-transform: scale(1);
    transform: scale(1); }
  40% {
    -webkit-transform: scale(0.75);
    transform: scale(0.75); }
  60% {
    -webkit-transform: scale(1);
    transform: scale(1); }
  80% {
    -webkit-transform: scale(0.75);
    transform: scale(0.75); }
  100% {
    -webkit-transform: scale(0.75);
    transform: scale(0.75); } }

.page-home {
  text-align: center;
  font-family: 'Quicksand', sans-serif; }
  .page-home header#header {
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    max-height: 100%;
    -webkit-box-shadow: inset 0 0 0 500px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 0 0 500px rgba(0, 0, 0, 0.2);
    background-attachment: fixed;
    /*@media screen and (max-width:420px){
        background-image:url("/assets/img/header_xs.jpg");
        box-shadow: none;
      }*/ }
    @media (max-width: 420px) {
      .page-home header#header {
        background-attachment: scroll; } }
    .page-home header#header .nav-menu.affix {
      background-color: rgba(51, 51, 51, 0.5);
      -webkit-transition: all 800ms ease;
      -o-transition: all 800ms ease;
      transition: all 800ms ease;
      width: 100%;
      z-index: 2; }
    .page-home header#header nav {
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      top: 0;
      margin: 0;
      padding: 0;
      width: 100%;
      z-index: 3;
      border-radius: 0;
      -webkit-transform: translateZ(0);
      transform: translateZ(0); }
      .page-home header#header nav a {
        display: inline-block;
        padding: 10px 20px;
        color: rgba(255, 255, 255, 0.7);
        text-transform: uppercase;
        letter-spacing: 3px;
        font-weight: 500;
        -webkit-transition: all 300ms ease-in-out;
        -o-transition: all 300ms ease-in-out;
        transition: all 300ms ease-in-out; }
        .page-home header#header nav a:hover {
          color: white; }
      .page-home header#header nav ul.navbar-centered {
        position: relative;
        left: 50%;
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translateX(-50%); }
      .page-home header#header nav ul li.active > a {
        color: white; }
      .page-home header#header nav ul li > a:after {
        content: "";
        opacity: 0;
        -webkit-transition: all 0.5s ease-in-out;
        -o-transition: all 0.5s ease-in-out;
        transition: all 0.5s ease-in-out; }
      .page-home header#header nav ul li.active > a:after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 2px;
        background: #F07677;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
        opacity: 1; }
    .page-home header#header .full-center {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      height: 100%;
      opacity: 0;
      -webkit-animation-duration: 1s;
      animation-duration: 1s; }
    .page-home header#header .container-t, .page-home header#header .container-tc {
      height: 100vh;
      display: table;
      width: 100%; }
    .page-home header#header .container-tc {
      opacity: 0;
      display: table-cell;
      vertical-align: middle;
      -webkit-animation-duration: 1s;
      animation-duration: 1s;
      /*animation: fadeInUp 1000ms;
              animation-fill-mode: forwards;*/ }
    .page-home header#header h1, .page-home header#header span, .page-home header#header .subtitle {
      font-weight: normal;
      text-transform: uppercase;
      letter-spacing: 6px; }
    .page-home header#header h1 {
      margin-top: 0.3em; }
      @media screen and (max-width: 420px) {
        .page-home header#header h1 {
          letter-spacing: 1px;
          font-size: 40px; } }
    @media screen and (max-width: 420px) {
      .page-home header#header span {
        font-size: 36px; } }
    .page-home header#header .subtitle {
      margin: 0; }
    .page-home header#header img {
      margin: 0 auto; }
  .page-home section#countdown {
    background-color: #F07677;
    padding: 20px 0; }
    .page-home section#countdown .timer {
      text-transform: uppercase;
      font-size: 32px; }
      @media screen and (max-width: 920px) {
        .page-home section#countdown .timer span {
          display: block; }
          .page-home section#countdown .timer span:not(:last-child):after {
            display: none; } }
      .page-home section#countdown .timer .time-item {
        display: inline-block; }
        @media screen and (max-width: 920px) {
          .page-home section#countdown .timer .time-item {
            padding: 0 10px; }
            .page-home section#countdown .timer .time-item span {
              display: block; } }
      .page-home section#countdown .timer .time-item:not(:last-child):after {
        content: "|";
        margin: 0 20px; }
        @media screen and (max-width: 920px) {
          .page-home section#countdown .timer .time-item:not(:last-child):after {
            display: none; } }
  .page-home section#info {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 50px 0; }
    .page-home section#info .info-container {
      width: 22%;
      color: #666;
      padding: 10px;
      /*animation: fadeInUp 500ms;
              animation-fill-mode: forwards;*/
      opacity: 0; }
      .page-home section#info .info-container:nth-child(1) {
        -webkit-animation-delay: 0ms;
        animation-delay: 0ms;
        /*p{
                          animation-delay: 300ms * $i - 300;
                      }*/ }
      .page-home section#info .info-container:nth-child(2) {
        -webkit-animation-delay: 250ms;
        animation-delay: 250ms;
        /*p{
                          animation-delay: 300ms * $i - 300;
                      }*/ }
      .page-home section#info .info-container:nth-child(3) {
        -webkit-animation-delay: 500ms;
        animation-delay: 500ms;
        /*p{
                          animation-delay: 300ms * $i - 300;
                      }*/ }
      @media screen and (max-width: 920px) {
        .page-home section#info .info-container {
          width: 100%;
          margin: 20px 0; } }
      .page-home section#info .info-container .info-title {
        font-weight: 500;
        color: #666;
        margin: 0;
        text-transform: uppercase;
        letter-spacing: 2px; }
      .page-home section#info .info-container p {
        color: #666;
        -webkit-animation: fadeInUp 1s;
        animation: fadeInUp 1s;
        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards;
        opacity: 0; }
      .page-home section#info .info-container .ubication {
        color: #F07677;
        font-weight: 500;
        letter-spacing: 2px; }

@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(50px);
    transform: translateY(50px); }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0); } }

@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(50px);
    transform: translateY(50px); }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0); } }
  .page-home section#images {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    .page-home section#images .img-container {
      width: 25%;
      float: left; }
      @media screen and (max-width: 920px) {
        .page-home section#images .img-container {
          width: 100%; } }
      .page-home section#images .img-container .img-box {
        position: relative;
        display: block;
        margin: 0 auto;
        max-width: 100%; }
      .page-home section#images .img-container img {
        display: block;
        max-width: 100%;
        height: auto;
        width: 100%;
        max-height: 317px;
        outline: 1px solid black; }
        @media screen and (max-width: 920px) {
          .page-home section#images .img-container img {
            max-height: none; } }
    .page-home section#images .img-container:nth-child(1) {
      -webkit-animation-delay: 100ms;
      animation-delay: 100ms; }
    .page-home section#images .img-container:nth-child(2) {
      -webkit-animation-delay: 200ms;
      animation-delay: 200ms; }
    .page-home section#images .img-container:nth-child(3) {
      -webkit-animation-delay: 300ms;
      animation-delay: 300ms; }
    .page-home section#images .img-container:nth-child(4) {
      -webkit-animation-delay: 400ms;
      animation-delay: 400ms; }
    .page-home section#images .img-container:nth-child(5) {
      -webkit-animation-delay: 500ms;
      animation-delay: 500ms; }
    .page-home section#images .img-container:nth-child(6) {
      -webkit-animation-delay: 600ms;
      animation-delay: 600ms; }
    .page-home section#images .img-container:nth-child(7) {
      -webkit-animation-delay: 700ms;
      animation-delay: 700ms; }
    .page-home section#images .img-container:nth-child(8) {
      -webkit-animation-delay: 800ms;
      animation-delay: 800ms; }

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
    .page-home section#images .book-slider {
      max-width: 100%; }
    .page-home section#images #book-carousel {
      width: 100%; }
  .page-home section#page-separator {
    padding: 20px 0;
    border-bottom: 1px solid #666; }
    .page-home section#page-separator span {
      color: #F07677;
      text-transform: uppercase;
      font-weight: 500;
      letter-spacing: 2px;
      font-size: 32px; }
  .page-home section#others {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    .page-home section#others .honeymoon {
      width: 50%;
      text-transform: uppercase;
      background-image: url(/assets/img/honeymoon.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      -webkit-box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
      box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
      padding: 150px 0; }
      @media screen and (max-width: 920px) {
        .page-home section#others .honeymoon {
          padding: 100px 0; } }
      .page-home section#others .honeymoon h2 {
        font-weight: normal;
        margin: 0;
        margin-bottom: 0.3em; }
      .page-home section#others .honeymoon h2, .page-home section#others .honeymoon span {
        letter-spacing: 2px; }
    .page-home section#others .gift {
      width: 50%;
      position: relative;
      padding: 15px;
      -webkit-box-flex: 1;
      -webkit-flex: 1;
      -ms-flex: 1;
      flex: 1; }
      .page-home section#others .gift h3 {
        text-transform: uppercase;
        letter-spacing: 2px;
        color: #666; }
      .page-home section#others .gift span {
        color: #666; }
      .page-home section#others .gift img {
        display: block;
        position: relative;
        left: 50%;
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translateX(-50%);
        margin-top: 30px; }
      @media screen and (max-width: 420px) {
        .page-home section#others .gift h3, .page-home section#others .gift span {
          font-size: 22px; } }
    @media screen and (max-width: 920px) {
      .page-home section#others .honeymoon, .page-home section#others .gift {
        width: 100%; } }
  .page-home section#address-information {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    text-transform: uppercase; }
    .page-home section#address-information .civil-block, .page-home section#address-information .party-block {
      width: 50%;
      padding: 20px 0; }
      .page-home section#address-information .civil-block h3, .page-home section#address-information .party-block h3 {
        margin: 0;
        margin-bottom: 10px;
        letter-spacing: 2px; }
    .page-home section#address-information .civil-block {
      background-color: #F07677; }
    .page-home section#address-information .party-block {
      background-color: #666; }
    @media screen and (max-width: 920px) {
      .page-home section#address-information .civil-block, .page-home section#address-information .party-block {
        width: 100%; } }
  .page-home section#map #googleMap {
    width: 100%;
    height: 450px; }
    .page-home section#map #googleMap .googleMapMarkerContainer {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      border: 1px solid #111;
      padding: 10px; }
      .page-home section#map #googleMap .googleMapMarkerContainer .image-container {
        float: left; }
        .page-home section#map #googleMap .googleMapMarkerContainer .image-container img {
          max-height: 150px; }
      .page-home section#map #googleMap .googleMapMarkerContainer .text-container {
        float: left;
        text-align: center;
        margin: 0 30px;
        position: relative; }
        .page-home section#map #googleMap .googleMapMarkerContainer .text-container h3 {
          color: #666;
          text-transform: uppercase;
          letter-spacing: 2px;
          margin: 0; }
        .page-home section#map #googleMap .googleMapMarkerContainer .text-container .subtitle {
          color: #666;
          letter-spacing: 2px;
          font-size: 18px; }
        .page-home section#map #googleMap .googleMapMarkerContainer .text-container .separator {
          margin: 50px 0 30px;
          width: 30px;
          background-color: #666;
          height: 1px;
          position: relative;
          left: 50%;
          -webkit-transform: translateX(-50%);
          -ms-transform: translateX(-50%);
          transform: translateX(-50%); }
  .page-home section#confirmation {
    background-repeat: no-repeat;
    background-size: cover;
    max-height: 100%;
    padding: 50px 0px;
    -webkit-box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2); }
    @media screen and (min-width: 1200px) {
      .page-home section#confirmation .container {
        padding: 0 300px; } }
    @media screen and (max-width: 920px) {
      .page-home section#confirmation {
        padding: 30px 25px; } }
    .page-home section#confirmation .title {
      text-transform: uppercase;
      letter-spacing: 2px;
      margin: 0;
      margin-bottom: 30px;
      font-size: 28px;
      color: #fff; }
      @media screen and (max-width: 420px) {
        .page-home section#confirmation .title {
          letter-spacing: 1px;
          font-size: 28px;
          line-height: 1em; } }
    @media screen and (min-width: 768px) {
      .page-home section#confirmation .form-group .multiple-inputs > div:nth-child(1) {
        padding-right: 25px; }
      .page-home section#confirmation .form-group .multiple-inputs > div:nth-child(2) {
        padding-left: 25px; } }
    .page-home section#confirmation .form-group .input-group {
      text-align: left;
      width: 100%;
      margin-top: 15px; }
      .page-home section#confirmation .form-group .input-group label {
        display: block;
        color: #fff;
        letter-spacing: 2px;
        margin-bottom: 0.3em;
        font-weight: normal;
        text-transform: uppercase;
        font-size: 12px; }
      .page-home section#confirmation .form-group .input-group input, .page-home section#confirmation .form-group .input-group select, .page-home section#confirmation .form-group .input-group textarea {
        display: block;
        width: 100%;
        padding: 10px 15px;
        font-size: 18px;
        height: 47px; }
      .page-home section#confirmation .form-group .input-group textarea {
        height: auto;
        resize: vertical; }
      .page-home section#confirmation .form-group .input-group select {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        background: #fff; }
        .page-home section#confirmation .form-group .input-group select:focus + .arrow > i {
          -webkit-transform: translateX(-50%) translateY(-50%) rotate(90deg);
          -ms-transform: translateX(-50%) translateY(-50%) rotate(90deg);
          transform: translateX(-50%) translateY(-50%) rotate(90deg); }
      .page-home section#confirmation .form-group .input-group .arrow {
        position: absolute;
        right: 0;
        top: 22px;
        width: 20%;
        border-left: 1px solid #666;
        color: #F07677;
        padding: 19px 15px;
        font-size: 25px;
        z-index: 1;
        pointer-events: none;
        height: 47px;
        text-align: center; }
        .page-home section#confirmation .form-group .input-group .arrow i {
          position: absolute;
          top: 50%;
          left: 50%;
          -webkit-transform: translateX(-50%) translateY(-50%);
          -ms-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
          -webkit-transition: -webkit-transform 200ms ease-in-out;
          transition: -webkit-transform 200ms ease-in-out;
          -o-transition: transform 200ms ease-in-out;
          transition: transform 200ms ease-in-out;
          transition: transform 200ms ease-in-out, -webkit-transform 200ms ease-in-out; }
    .page-home section#confirmation .form-group > .input-group:not(:first-child), .page-home section#confirmation .form-group button {
      margin-top: 30px; }
    .page-home section#confirmation button {
      font-weight: 500;
      color: #fff;
      background-color: #F07677;
      border-radius: 0;
      border: none;
      height: auto;
      padding: 5px 15px;
      font-size: 16px; }
      @media screen and (max-width: 350px) {
        .page-home section#confirmation button {
          padding: 10px 20px; } }

.navbar-header .navbar-toggle {
  border: none; }
  .navbar-header .navbar-toggle i {
    position: relative;
    display: inline-block;
    width: 25px;
    height: 2px;
    color: #252525;
    background: #252525;
    -webkit-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out;
    top: -12px; }
  .navbar-header .navbar-toggle.nav-white > i, .navbar-header .navbar-toggle.nav-white > i:before, .navbar-header .navbar-toggle.nav-white > i:after {
    color: #fff;
    background: #fff; }
  .navbar-header .navbar-toggle i:before {
    top: -10px; }
  .navbar-header .navbar-toggle i:after {
    bottom: -10px; }
  .navbar-header .navbar-toggle i:before, .navbar-header .navbar-toggle i:after {
    content: '';
    width: 25px;
    height: 2px;
    background: #252525;
    position: absolute;
    left: 0;
    -webkit-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out; }

.animated {
  -webkit-animation-duration: 500ms;
  animation-duration: 500ms; }

.nav > li > a:focus, .nav > li > a:hover {
  background-color: inherit; }

.ekko-lightbox .modal-body {
  padding: 0; }

.carousel-control .next, .carousel-control .prev {
  position: absolute;
  top: 50%;
  z-index: 5;
  display: inline-block;
  margin-top: -10px;
  font-size: 42px;
  height: auto;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); }

.carousel-control .prev {
  left: 50%;
  margin-left: -10px; }

.carousel-control .next {
  right: 50%;
  margin-right: -10px; }

body {
  background-color: #fff;
  overflow-x: hidden; }

.no-padding {
  padding: 0; }

.desktop-hidden {
  display: none; }
  @media screen and (max-width: 920px) {
    .desktop-hidden {
      display: block; } }

.mobile-hidden {
  display: block; }
  @media screen and (max-width: 920px) {
    .mobile-hidden {
      display: none !important; } }

#preloader {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  overflow: visible;
  background: #fff; }
  #preloader .heart {
    -webkit-animation: heartbeat 1s infinite;
    animation: heartbeat 1s infinite;
    position: relative;
    width: 100px;
    height: 90px;
    top: calc(50% - 45px);
    left: calc(50% - 50px); }
    #preloader .heart:before, #preloader .heart:after {
      position: absolute;
      content: "";
      left: 50px;
      top: 0;
      width: 50px;
      height: 80px;
      background: #F07677;
      border-radius: 50px 50px 0 0;
      -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      transform: rotate(-45deg);
      -webkit-transform-origin: 0 100%;
      -ms-transform-origin: 0 100%;
      transform-origin: 0 100%; }
    #preloader .heart:after {
      left: 0;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
      -webkit-transform-origin: 100% 100%;
      -ms-transform-origin: 100% 100%;
      transform-origin: 100% 100%; }

@keyframes heartbeat {
  0% {
    -webkit-transform: scale(0.75);
    transform: scale(0.75); }
  20% {
    -webkit-transform: scale(1);
    transform: scale(1); }
  40% {
    -webkit-transform: scale(0.75);
    transform: scale(0.75); }
  60% {
    -webkit-transform: scale(1);
    transform: scale(1); }
  80% {
    -webkit-transform: scale(0.75);
    transform: scale(0.75); }
  100% {
    -webkit-transform: scale(0.75);
    transform: scale(0.75); } }

.page-home {
  text-align: center;
  font-family: 'Quicksand', sans-serif; }
  .page-home header#song-suggest {
    width: 100%;
    min-height: 100vh;
    background-image: url("/assets/img/suggest.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    max-height: 100%;
    -webkit-box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.4);
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.4);
    background-attachment: fixed;
    /*@media screen and (max-width:420px){
        background-image:url("/assets/img/header_xs.jpg");
        box-shadow: none;
      }*/ }
    @media (max-width: 420px) {
      .page-home header#song-suggest {
        background-attachment: scroll; } }
    .page-home header#song-suggest .nav-menu.affix {
      background-color: rgba(51, 51, 51, 0.8);
      -webkit-transition: all 800ms ease;
      -o-transition: all 800ms ease;
      transition: all 800ms ease;
      width: 100%;
      z-index: 2; }
    .page-home header#song-suggest nav {
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      top: 0;
      margin: 0;
      padding: 0;
      width: 100%;
      z-index: 3;
      border-radius: 0;
      -webkit-transform: translateZ(0);
      transform: translateZ(0); }
      .page-home header#song-suggest nav a {
        display: inline-block;
        padding: 10px 20px;
        color: rgba(255, 255, 255, 0.7);
        text-transform: uppercase;
        letter-spacing: 3px;
        font-weight: 500;
        -webkit-transition: all 300ms ease-in-out;
        -o-transition: all 300ms ease-in-out;
        transition: all 300ms ease-in-out; }
        .page-home header#song-suggest nav a:hover {
          color: white; }
      .page-home header#song-suggest nav ul.navbar-centered {
        position: relative;
        left: 50%;
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translateX(-50%); }
      .page-home header#song-suggest nav ul li.active > a {
        color: white; }
      .page-home header#song-suggest nav ul li > a:after {
        content: "";
        opacity: 0;
        -webkit-transition: all 0.5s ease-in-out;
        -o-transition: all 0.5s ease-in-out;
        transition: all 0.5s ease-in-out; }
      .page-home header#song-suggest nav ul li.active > a:after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 2px;
        background: #F07677;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
        opacity: 1; }
    .page-home header#song-suggest .full-center {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      height: 100%; }
    .page-home header#song-suggest .header-body {
      padding-top: 150px;
      opacity: 0;
      -webkit-animation-duration: 1s;
      animation-duration: 1s; }
    .page-home header#song-suggest .container-t, .page-home header#song-suggest .container-tc {
      height: 100vh;
      display: table;
      width: 100%; }
    .page-home header#song-suggest .container-tc {
      opacity: 0;
      display: table-cell;
      vertical-align: middle;
      -webkit-animation-duration: 1s;
      animation-duration: 1s;
      /*animation: fadeInUp 1000ms;
              animation-fill-mode: forwards;*/ }
    .page-home header#song-suggest h1, .page-home header#song-suggest span, .page-home header#song-suggest .subtitle {
      font-weight: normal;
      text-transform: uppercase;
      letter-spacing: 6px; }
    .page-home header#song-suggest h1 {
      margin-top: 1em;
      font-size: 28px; }
      @media screen and (max-width: 420px) {
        .page-home header#song-suggest h1 {
          letter-spacing: 1px;
          line-height: 1.2em; } }
    .page-home header#song-suggest .subtitle {
      margin: 0; }
    .page-home header#song-suggest img {
      margin: 0 auto; }
    .page-home header#song-suggest .input-group {
      text-align: left;
      width: 100%;
      margin-top: 15px; }
      .page-home header#song-suggest .input-group label {
        display: block;
        color: #fff;
        text-transform: uppercase;
        letter-spacing: 2px;
        margin-bottom: 0.3em;
        font-weight: normal;
        font-size: 10px; }
      .page-home header#song-suggest .input-group input, .page-home header#song-suggest .input-group select, .page-home header#song-suggest .input-group textarea {
        display: block;
        width: 100%;
        padding: 10px 15px;
        font-size: 18px;
        height: 47px; }
      .page-home header#song-suggest .input-group textarea {
        height: auto;
        resize: vertical; }
      .page-home header#song-suggest .input-group select {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        background: #fff; }
        .page-home header#song-suggest .input-group select:focus + .arrow > i {
          -webkit-transform: translateX(-50%) translateY(-50%) rotate(90deg);
          -ms-transform: translateX(-50%) translateY(-50%) rotate(90deg);
          transform: translateX(-50%) translateY(-50%) rotate(90deg); }
      .page-home header#song-suggest .input-group .arrow {
        position: absolute;
        right: 0;
        top: 19px;
        width: 15%;
        border-left: 1px solid #666;
        color: #F07677;
        padding: 19px 15px;
        font-size: 40px;
        z-index: 1;
        pointer-events: none;
        height: 64px;
        text-align: center; }
        .page-home header#song-suggest .input-group .arrow i {
          position: absolute;
          top: 50%;
          left: 50%;
          -webkit-transform: translateX(-50%) translateY(-50%);
          -ms-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
          -webkit-transition: -webkit-transform 200ms ease-in-out;
          transition: -webkit-transform 200ms ease-in-out;
          -o-transition: transform 200ms ease-in-out;
          transition: transform 200ms ease-in-out;
          transition: transform 200ms ease-in-out, -webkit-transform 200ms ease-in-out; }
    .page-home header#song-suggest form .container {
      padding: 0 300px; }
      @media screen and (max-width: 992px) {
        .page-home header#song-suggest form .container {
          padding: 0 50px; } }
    .page-home header#song-suggest form button {
      font-weight: 500;
      color: #fff;
      background-color: #F07677;
      border-radius: 0;
      border: none;
      height: auto;
      padding: 5px 15px;
      font-size: 16px;
      margin-top: 30px; }
      @media screen and (max-width: 350px) {
        .page-home header#song-suggest form button {
          padding: 10px 20px; } }

.navbar-header .navbar-toggle {
  border: none; }
  .navbar-header .navbar-toggle i {
    position: relative;
    display: inline-block;
    width: 25px;
    height: 2px;
    color: #252525;
    background: #252525;
    -webkit-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out;
    top: -12px; }
  .navbar-header .navbar-toggle.nav-white > i, .navbar-header .navbar-toggle.nav-white > i:before, .navbar-header .navbar-toggle.nav-white > i:after {
    color: #fff;
    background: #fff; }
  .navbar-header .navbar-toggle i:before {
    top: -10px; }
  .navbar-header .navbar-toggle i:after {
    bottom: -10px; }
  .navbar-header .navbar-toggle i:before, .navbar-header .navbar-toggle i:after {
    content: '';
    width: 25px;
    height: 2px;
    background: #252525;
    position: absolute;
    left: 0;
    -webkit-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out; }

.animated {
  -webkit-animation-duration: 500ms;
  animation-duration: 500ms; }

.nav > li > a:focus, .nav > li > a:hover {
  background-color: inherit; }

.ekko-lightbox .modal-body {
  padding: 0; }

.carousel-control .icon-next, .carousel-control .icon-prev {
  font-size: 70px;
  height: auto;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); }
